.list-container {
    border-radius: 0px 0px 24px 24px;
    background-color: var(--gris-s);
    -webkit-border-radius: 0px 0px 24px 24px;
    -moz-border-radius: 0px 0px 24px 24px;
    -ms-border-radius: 0px 0px 24px 24px;
    -o-border-radius: 0px 0px 24px 24px;
    position: absolute;
    z-index: 1;
}

.list {
    max-height: calc(10*30px+1rem);
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 350px;
    width: 500px;
    overflow-y: hidden;

}

.list-option {
    color: white;
}

.list-option:last-child {
    padding-bottom: 1.7rem;
}

.list-option-link {
    text-decoration: none;
}

.list-option-link:hover {
    background-color: var(--gris-cc);
}

.list-option-title {
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 6px 20px 6px 0px;
    padding-left: 20px;
}

.list-option-title:hover {
    background-color: var(--gris-cc);
}