

.icon {
    color: var(--gris-c);
    size: 60px;
    width: 50px;
    font-size: xx-large;
    cursor: pointer;
}

.search-input {
    width: 400px;
    height: 44px;
    outline: none;
    color: white;
    background-color: var(--gris-o);
    border: 0px;
    font-size: 16px;
}

.search-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    background-color: var(--gris-o);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    padding: 0px 20px;
    gap: 20px;
    border: 1px solid #5f6368
}

.search-container.active{
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
    background-color: var(--gris-s);
    border-color:transparent;
}

.search-container.hover, .search-input.hover{
    background-color: var(--gris-s);
    border-color:transparent;
}


